.gradientBg {
    background : url("../assets/gradientNewHome.png")
}
.desktop{
    display: block;
}
*{
    overflow-x: hidden;
}
@media screen and (max-width:1023px) {
    .desktop{
        display: none;
    }
}
