.PersonalDetailsForm,
.CollegeDetailsForm {
  display: flex;
  flex-direction: column;
}
.PersonalDetailsForm label {
  color: black;
}
form input {
  color: black;
}
form button {
  border: 2px solid black;
  background-color: white;
  color: black;
}
