@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

#root {
    text-align: center;
}

/* CaCoverPage */
.ca-coverphoto {
  background: linear-gradient(158.8deg, #341e4a 2.6%, #000 64.4%)

}
/* CaCoverPage */



.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 5px;
  margin: 0 auto;
  /* padding-top: 50px; */
  margin-top: 50px;
  /* margin-bottom: 50px; */
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15%;
  border-radius: 100%;
  transform: translateX(-50%) rotate(45deg);
  width: 25px;
  height: 25px;
  z-index: 2;
  background: #eee;
}

.timeline ul li div {
  /* position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: #fff; */
  /* box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2); */
  /* border-radius: 5px;
  display: flex;
  align-items: center; */
}

/* .timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .timeline ul li div div p {
  text-align: center;
} */

/* .timeline ul li div .discovery {
  margin-right: 10px;
} */

.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}

.timeline ul li:nth-of-type(even) > div {
  left: -545px;
}

.timeline li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


@media (min-width:1024px) and (max-width:1279px) {
  .timeline ul li:nth-of-type(even) > div {
    left: -500px;
  }
}
@media (min-width:768px) and (max-width:1023px) {
  .timeline ul li:nth-of-type(even) > div {
    left: -350px;
  }
}

/* @media (max-width: 767px) {
  .timeline li div {
    width: 250px;
    flex-direction: column;
    display: flex;
  }

   .timeline li:nth-of-type(even) > div {
    left: -289px;
  } 
} */

@media (max-width: 767px) {
  .timeline ul li div {
    width: 70vw;
    height: 250px;
    /* flex-direction: column;
    display: flex; */
  }

   .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  } 
 
  .timeline ul li {
    margin-left: 5px;
  }

  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
}


