.textch{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.role {
    background-image: url("../assets/rolebg.svg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
}
