
.aboutShadow{
    position: absolute;
    z-index: 0;
}

.aboutShadow::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: -1;
    box-shadow: 0px 0px 0px 10px #4C3426;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.textch{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.role {
    background-image: url("https://d3lhw1p67h4h5r.cloudfront.net/rolebg.svg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
}
