.actionbutton {
    background-image: url('https://d3lhw1p67h4h5r.cloudfront.net/ActionButtonBackground.svg');
}

.actionbutton:hover {
    background-image: url('https://d3lhw1p67h4h5r.cloudfront.net/ActionButtonBackgroundHover.svg')
}
.actionbuttonVariant {
    background-image: url('https://d3lhw1p67h4h5r.cloudfront.net/ActionButtonVariant.svg');
}

.actionbuttonVariant:hover {
    background-image: url('https://d3lhw1p67h4h5r.cloudfront.net/ActionButtonVariantHover.svg')
}

.playbutton{
    background-image: url("https://d3lhw1p67h4h5r.cloudfront.net/play-button.webp");
}
.playbutton:hover{
    background-image: url("https://d3lhw1p67h4h5r.cloudfront.net/play-button-hover.webp");
}